.choose-glasses {
  h3.title {
    @include rem((margin: 20px 0));
    color: $color-purple;
    text-align: center;
  }
  .glasses-wizard {
    ul {
      @include rem((margin-top: 10px));
      li {
        display: inline-block;;
        list-style-type: none;
        &.arrow {
          color: $color-white;
          width: 210px;
          height: 40px;
          margin: 2px auto;
          background: $color-purple;
          position: relative;
          line-height: 37px;
          padding-left: 20px;
          &.active {
            background: rgba($color-purple, 0.5);
          }
        }
        &.arrow::before {
          content: '.';
          text-indent: -9999;
          position: absolute;
          width: 0;
          height: 0;
          right: 0;
          top: 0;
          border-top: 21px solid $color-white;
          border-bottom: 20px solid $color-white;
          border-left: 15px solid $color-purple;
        }
        &.arrow.active::before {
          border-left: 15px solid rgba($color-purple, 0);
        }
      }
    }
  }
  .facial-structure,
  .facial-dependency {
    .item {
      @include rem((margin-top: 25px));
      img {
        max-width: 100%;
      }
      .options {
        background: $color-gray-light;
        height: 50px;
        input {
          @include rem((margin: 20px 0 0 20px));
        }
        span.info {
          @include rem((margin-left: 5px));
          @include rem((padding: 5px 12px));
          font-style: italic;
          background: $color-purple;
          border-radius: 50%;
          color: $color-white;
        }
      }
    }
  }
  .facial-dependency {
    display: none;
  }
  .navigation {
    position: relative;
    top: 20px;
    color: $color-purple;
    text-transform: uppercase;
    .next,
    .previous {
      button {
        background: $color-purple;
        cursor: pointer;
        color: $color-white;
        border: none;
        height: 30px;
        width: 30px;
      }
    }
    .previous {
      display: none;
    }
  }
}
.personal-products {
  @include rem((margin-top: 50px));
  h1 {
    @include rem(font-size, 24px);
    background: $color-purple;
    text-align: center;
    color: $color-white;
  }
  .product-block {
    @include rem((margin: 10px 0));
    @include rem((padding: 10px));
    border: 1px solid $color-gray-light;
    .img {
      img {
        max-width: 100%;
      }
    }
    .properties {
      h3 {
        border-bottom: 1px solid $color-gray-light;
        text-transform: uppercase;
      }
      ul {
        @include rem((margin: 10px 0));
        @include rem((padding-left: 0));
        li {
          list-style-type: none;
          display: block;
          input[type=checkbox].css-checkbox {
          	position:absolute;
            z-index:-1000;
            left:-1000px;
            overflow: hidden;
            clip: rect(0 0 0 0);
            height:1px;
            width:1px;
            margin:-1px;
            padding:0;
            border:0;
          }
          input[type=checkbox].css-checkbox + label.css-label {
          	padding-left:21px;
          	height:16px;
          	display:inline-block;
          	line-height:16px;
          	background-repeat:no-repeat;
          	background-position: 0 0;
          	font-size:16px;
          	vertical-align:middle;
          	cursor:pointer;
          }
          input[type=checkbox].css-checkbox:checked + label.css-label {
          	background-position: 0 -16px;
          }
          label.css-label {
          	background-image:url("/assets/images/checkbox-sprite.png");
          	-webkit-touch-callout: none;
          	-webkit-user-select: none;
          	-khtml-user-select: none;
          	-moz-user-select: none;
          	-ms-user-select: none;
          	user-select: none;
          }
        }
      }
      a {
        @include rem(font-size, 14px);
        font-weight: bold;
        text-decoration: none;
        color: $color-black-medium;
        i {
          color: $color-purple;
        }
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .get-product {
      .price {
        @include rem((padding: 5px));
        border: 1px solid $color-gray-light;
        p {
          @include rem(font-size, 22px);
          text-align: center;
          color: $color-purple;
          font-weight: bold;
          span {
            @include rem(font-size, 14px);
            color: $color-black-medium;
            font-weight: normal;
          }
        }
      }
      .product-button-link {
        @include rem((margin-top: 25px));
        text-align: center;
        button {
          @include rem((padding: 10px 5px));
          background: $color-green;
          border: none;
          color: $color-white;
          border-radius: 5px;
          width: 100%;
          &:hover {
            background: rgba($color-green,.8);
          }
        }
      }
    }
  }
}
