<div class="choose-glasses">
  <div class="glasses-wizard">
    <ul>
  		<li class="arrow">1</li>
  	  <li class="arrow">2</li>
  		<li class="arrow">3</li>
      <li class="arrow">4</li>
      <li class="arrow active">5</li>
  	</ul>
  </div>
  <h3 class="title">Welche Gesichtsform haben Sie?</h3>
  <div class="facial-structure">
    <div class="col-sm-12">
      <div class="row">
        <div class="item col-md-3">
          <div class="img">
            <img src="assets/images/woman-1.png" />
          </div>
          <div class="options">
            <input type="checkbox" name="name" value=""> Eckig</input> <span class="info">i</span>
          </div>
        </div>
        <div class="item col-md-3">
          <div class="img">
            <img src="assets/images/woman-2.png" />
          </div>
          <div class="options">
            <input type="checkbox" name="name" value=""> Eckig</input> <span class="info">i</span>
          </div>
        </div>
        <div class="item col-md-3">
          <div class="img">
            <img src="assets/images/woman-3.png" />
          </div>
          <div class="options">
            <input type="checkbox" name="name" value=""> Eckig</input> <span class="info">i</span>
          </div>
        </div>
        <div class="item col-md-3">
          <div class="img">
            <img src="assets/images/woman-4.png" />
          </div>
          <div class="options">
            <input type="checkbox" name="name" value=""> Eckig</input> <span class="info">i</span>
          </div>
        </div>
      </div>
    </div>
    <div class="navigation">
      <div class="next pull-right">
        Weiter <button type="button" name="button"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
      </div>
      <div class="previous pull-left">
        <button type="button" name="button"><i class="fa fa-angle-left" aria-hidden="true"></i></button> Zurück
      </div>
    </div>
  </div>
</div>
