//
// Basics
//
html, body {
	overflow-x: hidden;
	overflow-y: auto;
}

html {
	-webkit-font-smoothing: antialiased;
	font-size: 18px;
	position: relative;
  min-height: 100%;
}

body {
	font-family: $font-regular, "Helvetica", "sans-serif";
	color: $color-black-medium;
}

.container {
	@include rem((padding: 0));
}
